.jumbotron{
   background-color: #202836 !important ;

   /* background-image: url('https://images.unsplash.com/photo-1493759919241-ba9c01724a60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e61ffbc928787493bc30421ae36d5137&auto=format&fit=crop&w=2102&q=80'); */
   /* background-size: cover;
   background-repeat: no-repeat; */

   font-family: 'Bungee Hairline', cursive;
   /* opacity: 0.2; */
   color: white;
   margin-top: 40px;
   /* font-weight: 500; */
   text-align: center;
   margin-left:0;
   max-width: 100%;
}

hr {
    width: 70%;
    vertical-align: left;
    margin-left:0;
}

.modal-line {
    width: 100%
}


.subhead {
    font-size: 20px;
    font-family: 'Zilla Slab', serif;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: .7px;
}


.header {
    color: #db466b !important;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    /* font-size: 67px; */
}

.survey-header {
    color: #db466b;
    font-family: 'Bungee Hairline', cursive;
    font-size: 60px !important;
}

.question-header {
    color:#db466b;
    font-family: 'Bungee Hairline', cursive;
}

.question {
    color:white;
    font-family: 'Zilla Slab', serif;
}

.container {
margin-left: 100px;
    margin-top: 40px;
}

#exampleModalLabel {
    color: #db466b !important;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-size: 49px;

}

.modal-header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.modal-btn{
    background-color: #db466b;
    color: white;
    width: 100px;
    margin-right: 15px;
    font-family: 'Bungee Hairline', cursive;
}

.friend {
 width: 300px;
 margin-left: 20px;
 text-align: center;
}


.friend-name {
    font-size: 33px;
    font-family: 'Zilla Slab', serif;
    color:#202836;
    margin-bottom: 0;
}

/* .submit-btn: hover {
    background-color: white;
    color: #db466b;
    font-style: bold;
} */

.btn:hover {
    background-color: white;
    color: #db466b;
    font-style: bold;
}
/*
.btn-primary:active {
   background-color: white;
   color: pink;
}  */

.btn  {
    background-color: #db466b;
    border: .2px solid white;
    width: 200px;
    font-family: 'Bungee Hairline', cursive;
}
